@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scrollbar-color: auto !important; /* Resets to the default browser behavior */
  scrollbar-width: auto !important; /* Resets scrollbar width to normal */
  scrollbar-height: auto !important; /* Resets scrollbar height to normal */
}

body {
  background: url("/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.message-navbar {
  /* background-color: #2c2c2c; */
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* .message-container {
  background-image: url('/wallpaper.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */

.message-container {
  /* Background Image Styles */
  /* background-image: url('/wallpaper.webp');
  background-repeat: no-repeat; */
  /* background-size: cover; Ensures the image covers the entire area */
  /* Container Dimensions (Optional) */
  height: 100vh; /* Makes the container at least the full height of the viewport */
  width: 100%; /* Full width of the parent element */
  background-color: #f8faff;
  /* Font Size Adjustment */
  font-size: 14px; /* Adjust this value to reduce font size */
}



/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 5px; 
}

/* ::-webkit-scrollbar-track {
  background: #adadad;
  height: 2px;
} */

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

.no-chat-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 3rem;
  
}

input:-webkit-autofill { 
  caret-color: black;
}

/* Applying box shadow to message input only */
.message-input {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* For larger screen it will show both sidebar and messsage container */
.Home-part-2 {
  display: block;
}

/* For smaller screen it will show sidebar and hide message container */

@media (width <= 768px) {
  .Home-part-2 {
    display: none;
  }
}